#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0em 1em 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d1d1d1;
  cursor: pointer;
  transition: border-color 0.25s;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  border: 1px solid black;
  padding: 6px; 
}